{% extends 'mint/base.html' %}
{% load static %}

{% block content %}
<div class="block">
    <h1>Аккаунт</h1>

    <br>
    <br>
    <br>

    {% if user.image %}
    <div class="photo" style="background-image: url('/media/images/{{ user.image }}')"></div>
    {% else %}
    <div class="photo" style="background-image: url({% static '/mint/images/no_photo.png' %})"></div>
    {% endif %}

    <br>
    <br>
    <br>

    <p>Имя пользователя: {{ user.username }}</p>

    <br>

    <p>Электронная почта: {{ user.email }}</p>

    <br>

    {% if user.status %}
    <p>О себе: {{ user.status }}</p>
    {% else %}
    <p>О себе: не добавлено</p>
    {% endif %}
    <br>

    <p>Изменить статус:</p>

    <form method="post">
        {% csrf_token %}
        {{ form.status }}

        <button type="submit">Подтвердить</button>
    </form>

    <br>

    <p>Изменить аватарку:</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.image }}

        <button type="submit">Подтвердить</button>
    </form>

    <br>

    <a class="logout" href="api/auth/logout">Выйти</a>
</div>
{% endblock content %}
